@model Eureka.Models.Inventario
        @{
        ViewData["Title"] = "Details";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        @section Styles
        {
        @await Html.PartialAsync("_CssDetailsDelete")
        }
        @{
        string[] info = { "Inventarios", "detalle" };
        }
        @await Html.PartialAsync("_Breadcrumb", info)
<div class="col-md-5">
    <div class="panel panel-info">
        <div class="panel-heading">
                        <div class="panel-control">
                            <ul class="pager pager-rounded">
                                <li><a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-mint btn-rounded"><i class="ion-edit"></i> Editar Inventario</a></li>
                                <li><a asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger btn-rounded"><span class="ion-close"></span> Eliminar Inventario</a></li>
                            </ul>
                        </div>
                        <h3 class="panel-title">Detalle del Inventario #@Html.DisplayFor(model => model.Id)</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Nombre) :
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Descripcion) :
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Descripcion)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CreadoEl) :
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CreadoEl)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ModificadoEl) :
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ModificadoEl)
                            </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreadoPorNavigation) :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreadoPorNavigation.Username)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Estado) :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Estado.Descripcion)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Familia) :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Familia.Descripcion)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ModificadoPorNavigation) :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ModificadoPorNavigation.Username)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Presentacion) :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Presentacion.Descripcion)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UmNavigation) :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UmNavigation.Descripcion)
                        </dd>
            </dl>
                <hr class="new-section-sm">
                <a class="btn btn-sm btn-default" asp-action="index"><i class="ion-arrow-left-b ion-14px"></i> Regresar al listado</a>
        </div>
    </div>

</div>

        @section Scripts {
        @await Html.PartialAsync("_ScriptsCRUD")
        @await Html.PartialAsync("_ScriptsDETAILS")
        <environment include="Development">
            <script src="~/js/models/inventario.model.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/models/inventario.min.js" asp-append-version="true"></script>
        </environment>
        <script>
                //
        </script>
        }

@*
_entitiesList.add({
name: 'inventario',
urlGet: 'inventarios/obtenerListar',
urlGetPartial: 'inventarios/obtenerListarCompletar',
urlCreate:  `inventarios/create`,
urlUpdate:  `inventarios/edit`,
load: function (page) {
        $('#inventarios').loadData(this, page);
},
models: [
            {
            id: 'Id',
            type : stores.types.editable
            requiredSave: () => true,
            messageEmpty: 'El Id es requerido',
            key : true,
            },
            {
            id: 'Nombre',
            type : stores.types.editable
            requiredSave: () => true,
            messageEmpty: 'El Nombre es requerido',
            },
            {
            id: 'Descripcion',
            type : stores.types.editable
            requiredSave: () => true,
            messageEmpty: 'El Descripcion es requerido',
            },
            {
            id: 'Um',
            type: stores.types.select,
            requiredSave: () => true,
            messageEmpty: 'El Um es requerido',
            },
            {
            id: 'FamiliaId',
            type: stores.types.select,
            requiredSave: () => true,
            messageEmpty: 'El FamiliaId es requerido',
            },
            {
            id: 'PresentacionId',
            type: stores.types.select,
            requiredSave: () => true,
            messageEmpty: 'El PresentacionId es requerido',
            },
            {
            id: 'EstadoId',
            type: stores.types.select,
            requiredSave: () => true,
            messageEmpty: 'El EstadoId es requerido',
            },
            ]
            });
            *@
