<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eureka</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
        <link href="~/lib/eureka/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/lib/eureka/css/nifty.min.css" asp-append-version="true" rel="stylesheet">
        <link href="~/lib/eureka/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
        <link href="~/lib/eureka/css/demo/nifty-demo.min.css" rel="stylesheet">
        <link href="~/lib/eureka/plugins/ionicons/css/ionicons.css" rel="stylesheet">
        <link href="~/lib/eureka/plugins/themifyicons/themify.min.css" rel="stylesheet">
        <link href="~/lib/eureka/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> -->
    </environment>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body class="pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <div class="navbar-header">
                    <a asp-controller="Home" class="navbar-brand">
                        <img src="~/lib/eureka/img/logo.png" alt="Eureka Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">Eureka</span>
                        </div>
                    </a>
                </div>

                <div class="navbar-content">
                    <ul class="nav navbar-top-links">

                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-list-view"></i>
                            </a>
                        </li>

                        <li>
                            <div class="custom-search-form">
                                <label class="btn btn-trans" for="search-input" data-toggle="collapse" data-target="#nav-searchbox">
                                    <i class="demo-pli-magnifi-glass"></i>
                                </label>
                                <form>
                                    <div class="search-container collapse" id="nav-searchbox">
                                        <input id="search-input" type="text" class="form-control" placeholder="Buscar...">
                                    </div>
                                </form>
                            </div>
                        </li>

                    </ul>
                    <ul class="nav navbar-top-links">

                        <li class="mega-dropdown">
                            <a href="#" class="mega-dropdown-toggle">
                                <i class="demo-pli-layout-grid"></i>
                            </a>
                            <div class="dropdown-menu mega-dropdown-menu">
                                <div class="row">
                                    <div class="col-sm-4 col-md-3">

                                        <ul class="list-unstyled">
                                            <li class="dropdown-header"><i class="ti-layout-grid3 icon-lg icon-fw"></i> Inventario</li>
                                            <li><a asp-controller="familias" asp-action="index"><i class="ti-menu-alt"></i> Familias</a></li>
                                            <li><a asp-controller="presentaciones" asp-action="index"><i class="ti-light-bulb"></i> Presentación</a></li>
                                            <li><a asp-controller="ums" asp-action="index"><i class="ti-ruler-alt-2"></i> Unidada de medida</a></li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-4 col-md-3">

                                        <ul class="list-unstyled">
                                            <li class="dropdown-header"><i class="ti-harddrive icon-lg icon-fw"></i> Facturas</li>
                                            <li><a asp-controller="clientes" asp-action="index"><i class="ti-user"></i> Clientes</a></li>
                                            <li><a asp-controller="tipoentes" asp-action="index"><i class="ti-pin2"></i> Tipo de clientes</a></li>
                                            <li><a asp-controller="categorias" asp-action="index"><i class="ti-info-alt"></i> Categoria de clientes</a></li>
                                            <li><a asp-controller="formapagos" asp-action="index"><i class="ti-layers"></i> Forma de pago</a></li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-4 col-md-3">

                                        <ul class="list-unstyled">
                                            <li class="dropdown-header"><i class="ti-shopping-cart icon-lg icon-fw"></i> Compras</li>
                                            <li><a asp-controller="clientes" asp-action="index"><i class="ti-truck"></i> Proveeedores</a></li>
                                        </ul>

                                    </div>

                                    <div class="col-sm-4 col-md-3">

                                        <ul class="list-unstyled">
                                            <li class="dropdown-header"><i class="ti-layers icon-lg icon-fw"></i> Servicios</li>
                                            <li><a asp-controller="servicios" asp-action="index"><i class="ti-clipboard"></i> Servicios</a></li>
                                            <li><a asp-controller="serviciosestandares" asp-action="index"><i class="ti-list"></i> Estandares</a></li>
                                        </ul>

                                    </div>


                                </div>
                                <div class="row">

                                    <div class="col-sm-4 col-md-3">

                                        <ul class="list-unstyled">
                                            <li class="dropdown-header"><i class="ti-settings icon-lg icon-fw"></i> Administracion</li>
                                            <li><a asp-controller="perfiles" asp-action="index"><i class="fa fa-users"></i> Usuarios</a></li>
                                            <li><a asp-controller="roles" asp-action="index"><i class="demo-pli-receipt-4"></i> Permisos</a></li>
                                            <li><a asp-controller="areas" asp-action="index"><i class="fa fa-map-marker"></i> Areas</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="demo-pli-bell"></i>
                                <span class="badge badge-header badge-danger"></span>
                            </a>


                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                <div class="nano scrollable has-scrollbar" style="height: 0px;">
                                    <div class="nano-content" tabindex="0" style="right: -17px;">
                                        <ul class="head-list">
                                            <li>
                                                <a href="#" class="media add-tooltip" data-title="Used space : 95%" data-container="body" data-placement="bottom" data-original-title="" title="">
                                                    <div class="media-left">
                                                        <i class="demo-pli-data-settings icon-2x text-main"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text-nowrap text-main text-semibold">Facturas por vencer</p>
                                                        <div class="progress progress-sm mar-no">
                                                            <div style="width: 95%;" class="progress-bar progress-bar-danger">
                                                                <span class="sr-only">95% Complete</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <div class="media-left">
                                                        <i class="demo-pli-file-edit icon-2x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Stock bajo</p>
                                                        <small>Quedan 8 disponibles</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <span class="label label-info pull-right">New</span>
                                                    <div class="media-left">
                                                        <i class="demo-pli-speech-bubble-7 icon-2x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Ventas y servicios</p>
                                                        <small>Last Update 8 hours ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <div class="media-left">
                                                        <i class="demo-pli-add-user-star icon-2x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Clientes en mora</p>
                                                        <small>Last Update 8 hours ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <div class="media-left">
                                                        <i class="demo-pli-add-user-star icon-2x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Compras por vencer</p>
                                                        <small>30 minutes ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div>
                                </div>

                                <div class="pad-all bord-top">
                                    <a href="#" class="btn-link text-main box-block">
                                        <i class="pci-chevron chevron-right pull-right"></i>Todas la notificaciones
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="ic-user pull-right">
                                    <i class="demo-pli-male"></i>
                                </span>
                            </a>


                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                <ul class="head-list">
                                    <li>
                                        <a href="#"><i class="demo-pli-male icon-lg icon-fw"></i> Perfil</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="demo-pli-gear icon-lg icon-fw"></i> Configuracion</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="demo-pli-computer-secure icon-lg icon-fw"></i> Bloquear pantalla</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a asp-controller="cuenta" asp-action="lockout"><i style="font-size: 22px;vertical-align: -webkit-baseline-middle;" class="ion-log-out"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </header>

        <div class="boxed">

            <div id="content-container">
                <div id="page-content">
                    @RenderBody()
                </div>


            </div>

            <nav id="mainnav-container">
                <div id="mainnav">

                    <div id="mainnav-menu-wrap">
                        <div class="nano has-scrollbar">
                            <div class="nano-content" tabindex="0" style="right: -17px;">


                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        @await Html.PartialAsync("_InfoUser")
                                    </div>
                                    <div id="profile-nav" class="collapse list-group bg-trans">
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-male icon-lg icon-fw"></i> Ver perfil
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-gear icon-lg icon-fw"></i> Configuraciones
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-information icon-lg icon-fw"></i> Bloquear pantalla
                                        </a>

                                    </div>
                                </div>

                                <div id="mainnav-shortcut" class="hidden">
                                    <ul class="list-unstyled shortcut-wrap">
                                        <li class="col-xs-3" data-content="My Profile" data-original-title="" title="">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                                    <i class="demo-pli-male"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Messages" data-original-title="" title="">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                                    <i class="demo-pli-speech-bubble-3"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Activity" data-original-title="" title="">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                                    <i class="demo-pli-thunder"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Lock Screen" data-original-title="" title="">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                                    <i class="demo-pli-lock-2"></i>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <ul id="mainnav-menu" class="list-group">

                                    <!--Category name-->
                                    <li class="list-header">Navegacion</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-home"></i>
                                            <span class="menu-title">Pizarra</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a href="index.html"><span class="fa fa-handshake-o"></span> Ventas</a></li>
                                            <li><a href="dashboard-2.html"><span class="ti-shopping-cart"></span> Compras</a></li>
                                            <li><a href="dashboard-3.html"><span class="ti-dropbox"></span> Inventario</a></li>

                                        </ul>
                                    </li>

                                    <li class="list-divider"></li>

                                    <!--Category name-->
                                    <li class="list-header">Inventario</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-boot-2"></i>
                                            <span class="menu-title">Facturacion</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a asp-controller="pendiente" asp-action="create">Nueva factura</a></li>
                                            <li><a asp-controller="pendiente">Facturas por vencer</a></li>
                                            <li><a asp-controller="pendiente">Facturas por cliente</a></li>
                                            <li><a asp-controller="pendiente">Facturas vencidas</a></li>

                                        </ul>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-pen-5"></i>
                                            <span class="menu-title">Inventarios</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a asp-controller="inventarios" asp-action="index">Lista</a></li>
                                            <li><a asp-controller="pendiente">Crear nuevo</a></li>
                                            <li><a asp-controller="pendiente">Existencias</a></li>
                                            <li><a asp-controller="pendiente">Kardex</a></li>
                                            <li><a asp-controller="pendiente">Costos</a></li>
                                            <li><a asp-controller="pendiente">Por agotar</a></li>
                                            <li><a asp-controller="pendiente">Por bodega</a></li>

                                        </ul>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-receipt-4"></i>
                                            <span class="menu-title">Clientes</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a asp-controller="pendiente">Lista</a></li>
                                            <li><a asp-controller="pendiente">Nuevo cliente</a></li>
                                            <li><a asp-controller="pendiente">En mora</a></li>
                                            <li><a asp-controller="pendiente">Facturas por vencer</a></li>
                                            <li><a asp-controller="pendiente">Facturas por cobrar</a></li>
                                            <li><a asp-controller="pendiente">Creditos</a></li>

                                        </ul>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-bar-chart"></i>
                                            <span class="menu-title">Proveedores</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a asp-controller="pendiente">Lista</a></li>
                                            <li><a asp-controller="pendiente">Nuevo proveedor</a></li>
                                            <li><a asp-controller="pendiente">Ordenes de compra</a></li>
                                            <li><a asp-controller="pendiente">Facturas por pagar</a></li>

                                        </ul>
                                    </li>


                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-repair"></i>
                                            <span class="menu-title">Ajustes</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a asp-controller="pendiente">Ajustes de entrada</a></li>
                                            <li><a asp-controller="pendiente">Ajustes de salida</a></li>

                                        </ul>
                                    </li>

                                    <li class="list-divider"></li>

                                    <!--Category name-->
                                    <li class="list-header">Contabilidad</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-computer-secure"></i>
                                            <span class="menu-title">Cheques</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">

                                            <li><a href="app-users-2.html">Nuevo cheque</a></li>
                                            <li><a href="app-file-manager.html">Cheques emitidos</a></li>
                                            <li><a href="app-users.html">Cheques cancelados</a></li>

                                        </ul>

                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-computer-secure"></i>
                                            <span class="menu-title">Comprobantes</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse" aria-expanded="false">

                                            <li><a href="app-users-2.html">Nuevo Comprobante</a></li>
                                            <li><a href="app-file-manager.html">Comprobantes emitidos</a></li>
                                            <li><a href="app-users.html">Tipo de comprobantes</a></li>

                                        </ul>

                                    </li>
                                </ul>   
                            </div>
                            <div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 1714px; transform: translate(0px, 0px);"></div></div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
        </div>

        <footer id="footer">

            <!-- Visible when footer positions are fixed -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="show-fixed pad-rgt pull-right">
                You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
            </div>



            <!-- Visible when footer positions are static -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="hide-fixed pull-right pad-rgt">
                @await Html.PartialAsync("_InfoArea")
            </div>



            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <p class="pad-lft">© 2018 Your Company</p>



        </footer>

        <button class="scroll-top btn" style="animation: jellyIn 0.8s;">
            <i class="pci-chevron chevron-up"></i>
        </button>

        <div class="mainnav-backdrop"></div>

    </div>
    <!-- <partial name="_CookieConsentPartial" /> -->
    <!-- <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Eureka</p>
        </footer>
    </div> -->

    <environment include="Development">
        <script src="~/lib/eureka/js/jquery.min.js"></script>
        <script src="~/lib/eureka/js/bootstrap.min.js"></script>
        <script src="~/lib/eureka/js/nifty.min.js"></script>
        <script src="~/lib/eureka/js/demo/nifty-demo.min.js"></script>
        <script src="~/lib/eureka/plugins/skycons/skycons.min.js"></script>
        <script src="~/lib/eureka/plugins/bootbox/bootbox.min.js"></script>
    </environment>
    <environment exclude="Development">

    </environment>
    <script>var pathBase = '@Url.Content("~/")';</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
